<section class="about">
  <div class="about__title">
    <p>Let's get acquainted</p>
  </div>
  <div class="about_wrap">
    <div class="about_wrap__img">
      <img src="../../../assets/about@2x.png" alt="about-human" width="339px" height="285px">
    </div>
    <div class="about_text">
      <h5>I am cool frontend developer</h5>
      <p>We will evaluate how clean your approach to writing CSS and Javascript code is. You can use any CSS and
        Javascript 3rd party libraries without any restriction.</p>
      <br>
      <p>If 3rd party css/javascript libraries are added to the project via bower/npm/yarn you will get bonus points. If
        you use any task runner (gulp/webpack) you will get bonus points as well. Slice service directory page P​SD
        mockup​ into HTML5/CSS3. </p>
      <p><a href="#">Sing up now</a></p>
    </div>
  </div>
</section>
