

.about {
  padding: 153px 30px 103px 43px;
  margin: auto;
  text-align: justify;
}

.about__title {
  text-align: justify;
  /* Style for "Let's get" */
  color: #212529;
  font-weight: 400;
  line-height: 50px;
  font-size: 48px;
  padding-left: 246px;
}

.about_wrap {
  display: flex;
  margin-top: 68px;

  &__img {
    margin-right: 50px;

  }
  & img{
    margin-top: 5px;
    margin-left: 11px;
  }
}
.about_text{
  /* Style for "We will ev" */

  color: #4c4b4b;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.about_text :first-child{
  margin-bottom: 21px;
  color: #212529;

  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.about_text :nth-child(n+3){
  margin-bottom: 10px;
  & a{
    /* Style for "Sing up no" */
     padding-left: 2px;
    color: #ef5b4c;
    font-size: 16px;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
  }
}

@import "grid";
