
<section class="banner">
  <div class="title-wrap">
    <div class="title">
      <h1>test  assignment
        for frontend developer
        <span>position</span></h1>
    </div>
    <div class="title__text">
      <p>We kindly remind you that your test assignment should be submitted as a link to github/bitbucket repository.
        Please be patient, we consider and respond to every application that meets minimum requirements. We look forward
        to your submission. Good luck! The photo has to scale in the banner area on the different screens</p>
    </div>
    <div>
      <button class="title__button">Sing up now</button>
    </div>
  </div>
</section>
