@font-face {
  font-family: 'Open Sans Regular';
  src: url('./font/OpenSans-Regular.eot');
  src: url('./font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  url('./font/OpenSans-Regular.woff') format('woff'),
  url('./font/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin main-font {
  font-family: 'Open Sans Regular',sans-serif;
}
