.form {
  //width: 1024px;
  max-width: 1024px; //=====================================
  margin: auto;
  padding: 143px 253px 258px 255px;
}
.all-form{
  padding: 26px 0 0 24px;
}
.from_wrap {
  position: relative;
  & input {
margin-top: 3px;
  }

  & label {
    /* Style for "Name" */
    width: 38px;
    height: 11px;
    color: #212529;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }
}

.form_item {
  /* Style for "Rounded Re" */
  width: 467px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background-color: #ffffff;
}

.form_title {
  text-align: center;

  & h3 {
    /* Style for "Register t" */
    color: #212529;
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 10px;
  }

  & p {
    /* Style for "Attention!" */

    color: #4c4b4b;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.form_email{
  margin: 24px 0 0 0;
}

.form_phone{
  margin: 24px 0 0 0;
  & :nth-child(3) label {
    /* Style for "Еnter phon" */

    color: #212529;
    font-size: 12px;
    font-weight: 400;
  }
}
.radio {
  text-align: left;
  margin: 10px 0 0 0;

  & h5{
    font-size: 16px;
  }

  & label {
margin-left: 12px;
  }
}

.form_button{
  /* Style for "Rectangle" */
  width: 210px;
  height: 38px;
  border-radius: 4px;
  background-color: #ef5b4c;
  border: none;

  /* Style for "Sing up no" */

  color: #fefefe;

  font-size: 16px;
  font-weight: 400;
 position: absolute;
  left: 30%;
  bottom: -11.5%;
}

.footer {
  /* Style for "© abz.agen" */

  color: #4c4b4b;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  /* Style for "Shape 3" */

  height: 1px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
}

.form_photo{
  margin-top: 18px;
}
