<section class="form">
  <div class="from_wrap">
    <div class="form_title">
      <h3>Register to get a work</h3>
      <p>Attention! After successful registration and alert, update the<br>list of users in the block from the top</p>
    </div>
    <div class="all-form">
      <div class="form_name">
        <div>
          <label for="name">Name</label>
        </div>
        <div>
          <input type="text" id="name" placeholder="Your name" class="form_item">
        </div>
      </div>
      <div class="form_email">
        <div>
          <label for="email">Email</label>
        </div>
        <div>
          <input type="text" id="email" placeholder="Your email" class="form_item">
        </div>
      </div>
      <div class="form_phone">
        <div>
          <div>
            <label for="PhoneNumber">Phone Number</label>
          </div>
          <div>
            <input type="text" id="PhoneNumber" placeholder="+380 XX XXX XX XX" class="form_item">
          </div>
          <div>
            <label for="PhoneNumber">Еnter phone number in open format</label>
          </div>
        </div>
      </div>



      <div class="radio">
        <h5>Select your position</h5>
        <br>
        <div>
          <input type="radio" id="contactChoice1" name="contact" value="Frontend developer">
          <label for="contactChoice1">Frontend developer</label>
        </div>
        <div>
          <input type="radio" id="contactChoice2" name="contact" value="Backend developer">
          <label for="contactChoice2">Backend developer</label>
        </div>
        <div>
          <input type="radio" id="contactChoice3" name="contact" value="Designer">
          <label for="contactChoice3">Designer</label>
        </div>
        <div>
          <input type="radio" id="contactChoice4" name="contact" value="QA">
          <label for="contactChoice4">QA</label>
        </div>
      </div>

      <div class="form_photo">
        <div>
          <label for="photo">Photo</label>
        </div>
        <div>
          <input type="text" id="photo" placeholder="Upload your photo" class="form_item">
        </div>
      </div>
    </div>

    <div>
      <button class="form_button">Sing up now</button>
    </div>
  </div>


</section>
<footer class="footer">
  <p> © abz.agency specially for the test task</p>
</footer>
